.indy_slide {
  background: #DDDDDD;
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.indy_slide .item {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0
}

.indy_slide .item:first-child {
  position: relative;
  display: block;
  float: left
}

@media (min-width: 575px) {
  .indy_slide .item {
    height: 500px;
  }
}
@media (min-width: 767px) {
  .indy_slide .item {
    height: 400px;
  }
}
@media (min-width: 991px) {
  .indy_slide .item {
    height: 400px;
  }
}
@media (min-width: 1199px) {
  .indy_slide .item {
    height: 500px;
  }
}

.indy_slide img {
  display: block;
  height: auto;
  float: left;
  border: 0
}

.spinner-loading {
  margin: 20px auto 0;
  width: 100px;
  text-align: center;
}

.spinner-loading>div {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-loading .bounce1 {
  background: #e74c3c;
}

.spinner-loading .bounce2 {
  background: #f1c40f;
}

.spinner-loading .bounce3 {
  background: #3498db;
}

.spinner-loading .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner-loading .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.fideIn {
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}