/*
/---------- Theme: indyReview
/---------- Author: indytheme.com
*/

#wpadminbar {
    position: fixed;
    top: 0;
}

a:hover {
    text-decoration: none;
}

.img_fade:hover {
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    opacity: .60;
}

@font-face {
    font-family: 'thaisanslite-font';
    src: url('../fonts/thaisanslite_r1-webfont.eot');
    src: url('../fonts/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisanslite_r1-webfont.woff') format('woff'), url('../font/thaisanslite_r1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-theme {
    font-family: thaisanslite-font;
}

.font-normal {
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

img.img_effect {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

img.img_effect:hover {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}


/****************** Header ******************/

.header {}

@media only screen and (max-width: 768px) {
    .header {
        padding-top: 50px;
    }
}

.headertop {}

.headertop__logo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.headertop__logo img {
    max-width: 350px;
}

.headertop__social a {
    text-decoration: none;
}

.headertop__social .item {
    font-size: 1.2em;
    color: #999999;
    padding-left: 6px;
    padding-right: 6px;
    transition: all .2s ease-in-out;
}

.headertop__social .item:hover {
    transform: scale(2);
}

.item--facebook:hover {
    color: #3b5998;
}

.item--twitter:hover {
    color: #1ea1f3;
}

.item--google:hover {
    color: #dd4b39;
}

.item--linkedin:hover {
    color: #0274b3;
}

.item--youtube:hover {
    color: #F01616;
}

.item--instagram:hover {
    color: #8102B3;
}

.headertop__search input {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.headertop__search button {
    cursor: pointer;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.headernav--lg {
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}

.headernav--lg ul {
    margin-bottom: 0;
    list-style-type: none;
}

.headernav--lg ul li {
    margin: 0 10px;
    padding: 10px 40px 10px 0px;
    font-size: 17pt;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.headernav--lg ul li a {
    color: #000000;
}

.headernav--lg ul li:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.headernav--lg ul li.--dotted::before {
    font-family: FontAwesome;
    content: "\f111";
    font-size: 6pt;
    position: absolute;
    margin-left: -35px;
    margin-top: 14px;
}

.headernav--lg ul li.--color-0:hover a,
.headernav--lg ul li.--color-0::before {
    color: #e74c3c;
}

.headernav--lg ul li.--color-1:hover a,
.headernav--lg ul li.--color-1::before {
    color: #f1c40f;
}

.headernav--lg ul li.--color-2:hover a,
.headernav--lg ul li.--color-2::before {
    color: #2ecc71;
}

.headernav--lg ul li.--color-3:hover a,
.headernav--lg ul li.--color-3::before {
    color: #3498db;
}

.headernav--lg ul li.--color-4:hover a,
.headernav--lg ul li.--color-4::before {
    color: #9b59b6;
}

.headerxs {
    width: 100%;
    height: 50px;
    background: #34495e;
    position: fixed;
    left: 0;
    z-index: 99999;
}

.headerxs__logo img {
    margin-top: 10px;
    margin-left: 10px;
    height: 35px;
}

.headerxs__menu {
    cursor: pointer;
    padding-right: 30px;
    color: #ffffff;
    font-size: 30px;
}

.headerxs__back {
    height: 50px;
}


/****************** Post Item ******************/

.posts {
    background-color: #f5f5f5;
}

.posts__sortby {
    margin-top: 20px;
    margin-bottom: 10px;
}

.posts__body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.posts__sortby button:hover {
    cursor: pointer;
}

.posts__loader {
    height: 120px;
}

.posts__loadmore button {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 100px;
}

.posts__empty {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2em;
    color: #666666;
}

.posts__empty img {
    width: 150px;
    margin-bottom: 20px;
}


/****************** Post Item ******************/

.postitem {
    margin-bottom: 25px;
}

.postitem a {
    text-decoration: none;
}

.postitem .card-footer {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.postitem__category {
    display: inline-block;
}

.postitem__category .item {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 0.8em;
    color: #FFFFFF;
    float: left;
}

.postitem__title {
    color: #000000;
    font-size: 1.7em;
    line-height: 1.1em;
    font-weight: bold;
}

.postitem__title:hover {
    color: #660C0C;
}

.postitem__description {
    margin-top: 10px;
    font-size: 0.9em;
}


/****************** Rating ******************/

.postrating {
    position: relative;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 1.25rem;
}

.postrating__emo {
    width: 22px;
}

@media (max-width: 767px) {
    .postrating__emo {
        width: 30px;
    }
}

.postrating__selector {
    position: absolute;
    bottom: 40px;
    right: -90px;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 100px;
    border: 2px solid #EEEEEE;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #666666;
    z-index: 999;
    -webkit-animation: fadein2 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 2s;
    /* Firefox < 16 */
    -ms-animation: fadein2 2s;
    /* Internet Explorer */
    -o-animation: fadein2 2s;
    /* Opera < 12.1 */
    animation: fadein2 2s;
}

@media (max-width: 991px) {
    .postrating__selector {
        right: -5px;
        float: right;
    }
}

.postrating__selector img {
    cursor: pointer;
    width: 30px;
    margin: 0 5px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.postrating__selector img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5) translateY(-5px);
}

.finish-rating {
    height: 100vh;
    widows: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(99, 99, 99, 0.6);
}

.contentrating__img {
    cursor: pointer;
    width: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.contentrating__img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.contentrating__score {
    margin-top: -20px;
}

.contentrating__score .got {
    font-size: 3em;
    font-weight: bold;
    color: #660C0C;
}

.contentrating__score .limit {
    font-size: 1.8em;
}

.contentrating .progress {
    position: relative;
}

.contentrating .progress .number {
    color: #000000;
    position: absolute;
    right: 5px;
    font-weight: bold;
}


/****************** Animation ******************/

.animated {
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        border-radius: 100%;
        transform: translate3d(0, 100%, 0) scale3d(0, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        border-radius: 100%;
        transform: translate3d(0, 100%, 0) scale3d(0, 0, 0);
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
}

@keyframes fadeInRightBig {
    from {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInRightBig {
    animation-name: fadeInRightBig;
}

@keyframes fadeOutRightBig {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.fadeOutRightBig {
    animation-name: fadeOutRightBig;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.fideIn {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/****************** Category ******************/

.category__tag .item:hover {
    opacity: 0.8;
}

.category__tag .item--color-0 {
    background-color: #e74c3c;
}

.category__tag .item--color-1 {
    background-color: #F1B126;
}

.category__tag .item--color-2 {
    background-color: #1abc9c;
}

.category__tag .item--color-3 {
    background-color: #3498db;
}

.category__tag .item--color-4 {
    background-color: #9b59b6;
}


/****************** Article ******************/

.article {
    background: #f5f5f5;
}

.article__header {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center center;
}

.article__header h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 3px 3px 3px #000, -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
}

.article__category {
    display: inline-block;
}

.article__title {
    font-weight: bold;
}

.article__category .item {
    margin: 10px 6px 0px;
    padding: 8px 15px;
    border-radius: 100px;
    font-size: 0.9em;
    color: #FFFFFF;
    float: left;
}

.frame {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .frame {
        margin-top: 0;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.widget {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article__content {
    font-size: 1em;
    line-height: 2.2em;
}


/****************** Sharing ******************/

.share {
    display: flex !important;
    width: 100%;
}

.share__button {
    color: #FFFFFF !important;
    cursor: pointer;
    border: 0px;
    flex: 1 !important;
}

.share__button--facebook {
    background: #3b5998;
    box-shadow: 0 5px 0 0 #2A3F6B;
}

.share__button--google {
    background: #dd4b39;
    box-shadow: 0 5px 0 0 #AC382B;
}

.share__button--twitter {
    background: #1ea1f3;
    box-shadow: 0 5px 0 0 #187BB9;
}

.share__button--line {
    background: #4ecd00;
    box-shadow: 0 5px 0 0 #40A700;
}

.share__button--left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.share__button--right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/****************** Comment ******************/

.comment__avatar img {
    border-radius: 100%;
}

.comment__author {
    font-size: 0.8em;
    font-weight: bold;
}

.comment__date {
    font-size: 0.8em;
}


/****************** Pagination ******************/

.paging {
    margin-bottom: 30px;
}

.paging button {
    cursor: pointer;
}

.paging a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.paging .current {
    font-weight: bold;
    color: #FFDC50;
}


/****************** Image Slider ******************/

.slider {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    color: #FFFFFF;
}

.slider a {
    text-decoration: none;
    color: #FFFFFF;
}

a.rslides1_nav {
    position: absolute;
    margin-top: -290px;
    z-index: 999;
    color: rgba(255, 255, 255, 0);
    font-size: 2.5em;
    -o-transition: color .3s ease-out, background 1s ease-in;
    -ms-transition: color .3s ease-out, background 1s ease-in;
    -moz-transition: color .3s ease-out, background 1s ease-in;
    -webkit-transition: color .3s ease-out, background 1s ease-in;
    /* ...and now override with proper CSS property */
    transition: color .3s ease-out, background 1s ease-in;
}

a.prev {
    left: 25px;
}

a.next {
    right: 25px;
}

@media (max-width: 1199px) {
    a.rslides1_nav {
        margin-top: -240px;
    }
}

@media (max-width: 767px) {
    a.rslides1_nav {
        margin-top: -480px;
    }
}

.slider:hover~a.rslides1_nav {
    color: rgba(255, 255, 255, 0.7);
}

a.rslides1_nav:hover {
    color: #FFFFFF;
}

.slider img {
    display: block;
    height: auto;
    float: left;
    border: 0;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:hover img {
    transform: scale(1.05);
}

.slider__item {
    background: #DDDDDD;
    background-size: cover;
    background-position: center center;
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0
}

.slider__item:first-child {
    position: relative;
    display: block;
    float: left
}

@media (min-width: 575px) {
    .slider__item {
        height: 500px;
    }
}

@media (min-width: 767px) {
    .slider__item {
        height: 400px;
    }
}

@media (min-width: 991px) {
    .slider__item {
        height: 400px;
    }
}

@media (min-width: 1199px) {
    .slider__item {
        height: 500px;
    }
}

.slider__title {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

.slider__title--1 {
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: left;
    background: red;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}

.slider__title--2 {
    top: 30%;
}

.slider__text {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2em;
}

.slider__text--1 {
    width: 50%;
}

.slider__time {
    color: #FFFFFF;
    opacity: 0.7;
}

@media (max-width: 991px) {
    .slider__text--1 {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .slider__title {
        text-align: center;
    }
    .slider__text--1 {
        width: 100%;
    }
}

.slider__category {
    display: inline-block;
}

.slider__category .item {
    margin: 10px 6px 0px;
    padding: 8px 15px;
    border-radius: 100px;
    font-size: 0.9em;
    color: #FFFFFF;
    float: left;
}


/****************** Loading ******************/

.spinner-loading {
    margin: 20px auto 0;
    width: 100px;
    text-align: center;
}

.spinner-loading>div {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-loading .bounce1 {
    background: #e74c3c;
}

.spinner-loading .bounce2 {
    background: #f1c40f;
}

.spinner-loading .bounce3 {
    background: #3498db;
}

.spinner-loading .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner-loading .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}


/****************** 404 Page******************/

.page404 {
    background: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #666666;
}

.page404 img {
    width: 150px;
}

.page404 .item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.page404 button {
    cursor: pointer;
}


/****************** footer******************/

.footer {
    padding-top: 50px;
    padding-bottom: 40px;
    background: #34495e;
    color: #FFFFFF;
}

.footer__social a {
    font-size: 1.5em;
    color: #FFFFFF;
}

.footer__social .item {
    padding: 0 8px;
    transition: all .2s ease-in-out;
}

.footer__social .item:hover {
    transform: scale(2);
}

.footer__copyright {
    margin-top: 20px;
}

.footer__copyright p.copyright {
    line-height: 1em;
}

.footer__copyright p.credit,
.footer__copyright p.credit a {
    font-size: 0.9em;
    line-height: 0.3em;
    color: rgba(255, 255, 255, 0.3);
}


/****************** Responsive Menu ******************/

.resmenu {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    z-index: 999999;
    overflow-y: auto;
    /* display: none; */
}

.resmenu::-webkit-scrollbar-track {
    background-color: #2c3e50;
}

.resmenu::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.resmenu::-webkit-scrollbar-thumb {
    background-color: #E4E4E4
}

.resmenu__search {
    margin-top: 70px;
    margin-bottom: 20px;
}

.resmenu__search input {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.resmenu__search button {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.resmenu__item {
    line-height: 1.6em;
    font-size: 2.3em;
    color: #FFFFFF;
    text-align: center;
}

.resmenu__item a {
    color: #FFFFFF;
}

.resmenu__item a:hover {
    opacity: 0.6;
}

.resmenu__close {
    cursor: pointer;
    position: fixed;
    right: 35px;
    top: 10px;
    color: #FFFFFF;
    font-size: 2.5em;
}