/*
/---------- Theme: indyReview
/---------- Author: indytheme.com
*/

.img_fade:hover {
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    opacity: .60;
}

@font-face {
    font-family: 'thaisanslite-font';
    src: url('../fonts/thaisanslite_r1-webfont.eot');
    src: url('../fonts/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisanslite_r1-webfont.woff') format('woff'), url('../font/thaisanslite_r1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-theme {
    font-family: thaisanslite-font;
}

.font-normal {
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/****************** Header ******************/
.header {

}
.headertop {

}
.headertop__logo {
    padding-top: 50px;
    padding-bottom: 50px;
}
.headertop__logo img {
    max-width: 350px;
}
.headertop__social {

}
.headertop__serach {

}
.headernav--lg {
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}
.headernav--lg ul {
    margin-bottom: 0;
    list-style-type: none;
}
.headernav--lg ul li {
    /*background: #FFCC00;*/
    padding: 10px 10px;
    font-size: 17pt;
    font-weight: 600;
}
