/*
/---------- Theme: indyReview
/---------- Author: indytheme.com
*/

.img_fade:hover {
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    opacity: .60;
}

@font-face {
    font-family: 'thaisanslite-font';
    src: url('../fonts/thaisanslite_r1-webfont.eot');
    src: url('../fonts/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisanslite_r1-webfont.woff') format('woff'), url('../font/thaisanslite_r1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-theme {
    font-family: thaisanslite-font;
}

.font-normal {
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

img.img_effect {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

img.img_effect:hover {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}


/****************** Header ******************/

.header {}

.headertop {}

.headertop__logo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.headertop__logo img {
    max-width: 350px;
}

.headertop__social {}

.headertop__serach {}

.headernav--lg {
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}

.headernav--lg ul {
    margin-bottom: 0;
    list-style-type: none;
}

.headernav--lg ul li {
    margin: 0 10px;
    padding: 10px 40px 10px 0px;
    font-size: 17pt;
    font-weight: 600;
}

.headernav--lg ul li:hover {
    cursor: pointer;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin-top: -5px;
}

.headernav--lg ul li.--dotted::before {
    font-family: FontAwesome;
    content: "\f111";
    font-size: 6pt;
    position: absolute;
    margin-left: -35px;
    margin-top: 14px;
}

.headernav--lg ul li.--color-0:hover,
.headernav--lg ul li.--color-0::before {
    color: #e74c3c;
}

.headernav--lg ul li.--color-1:hover,
.headernav--lg ul li.--color-1::before {
    color: #f1c40f;
}

.headernav--lg ul li.--color-2:hover,
.headernav--lg ul li.--color-2::before {
    color: #2ecc71;
}

.headernav--lg ul li.--color-3:hover,
.headernav--lg ul li.--color-3::before {
    color: #3498db;
}

.headernav--lg ul li.--color-4:hover,
.headernav--lg ul li.--color-4::before {
    color: #9b59b6;
}

/****************** Post Item ******************/
.posts {
    background-color: #f5f5f5;
}

.posts__sortby {
    margin-top: 20px;
    margin-bottom: 10px;
}

.posts__body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.posts__sortby button:hover {
    cursor: pointer;
}

.posts__loader {
    height: 120px;
}

.posts__loadmore button {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 100px;
}

.posts__empty {
    margin-top: 50px;
    margin-bottom: 50px;
}

/****************** Post Item ******************/

.postitem {
    margin-bottom: 25px;
}

.postitem a {
    text-decoration: none;
}

.postitem .card-footer {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.postitem__category {
    display: inline-block;
}

.postitem__category .item {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 0.8em;
    color: #FFFFFF;
    float: left;
}

.postitem__title {
    color: #000000;
    font-size: 1.7em;
    line-height: 1.1em;
    font-weight: bold;
}

.postitem__title:hover {
    color: #660C0C;
}

.postitem__description {
    margin-top: 10px;
    font-size: 0.9em;
}


/****************** Rating ******************/

.postrating {
    position: relative;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 1.25rem;
}

.postrating__emo {
    width: 20px;
}

.postrating__selector {
    position: absolute;
    bottom: 40px;
    right: -90px;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 100px;
    border: 2px solid #EEEEEE;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #666666;
    z-index: 999;
    -webkit-animation: fadein2 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein2 2s;
    /* Firefox < 16 */
    -ms-animation: fadein2 2s;
    /* Internet Explorer */
    -o-animation: fadein2 2s;
    /* Opera < 12.1 */
    animation: fadein2 2s;
}

@media (max-width: 991px) {
    .postrating__selector {
        right: -5px;
        float: right;
    }
}

.postrating__selector img {
    cursor: pointer;
    width: 30px;
    margin: 0 5px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.postrating__selector img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5) translateY(-5px);
}

.finish-rating {
    height: 100vh;
    widows: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(99, 99, 99, 0.6);
}

.contentrating__img {
    cursor: pointer;
    width: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.contentrating__img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.contentrating__score {
    margin-top: -20px;
}

.contentrating__score .got {
    font-size: 3em;
    font-weight: bold;
    color: #660C0C;
}
.contentrating__score .limit {
    font-size: 1.8em;
}

.contentrating .progress {
    position: relative;
}

.contentrating .progress .number {
    color: #000000;
    position: absolute;
    right: 5px;
    font-weight: bold;
}

/****************** Animation ******************/

.animated {
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        border-radius: 100%;
        transform: translate3d(0, 100%, 0) scale3d(0, 0, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        border-radius: 100%;
        transform: translate3d(0, 100%, 0) scale3d(0, 0, 0);
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
}

/****************** Category ******************/

.category__tag .item:hover {
    opacity: 0.8;
}

.category__tag .item--color-0 {
    background-color: #e74c3c;
}

.category__tag .item--color-1 {
    background-color: #F1B126;
}

.category__tag .item--color-2 {
    background-color: #1abc9c;
}

.category__tag .item--color-3 {
    background-color: #3498db;
}

.category__tag .item--color-4 {
    background-color: #9b59b6;
}

/****************** Article ******************/

.article {

}

.article__header {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center center;
}

.article__header h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow:
    3px 3px 3px #000,
  -1px -1px 3px #000,  
   1px -1px 3px #000,
   -1px 1px 3px #000,
    1px 1px 3px #000;
}

.article__category {
    display: inline-block;
}

.article__category .item {
    margin: 10px 6px 0px;
    padding: 8px 15px;
    border-radius: 100px;
    font-size: 0.9em;
    color: #FFFFFF;
    float: left;
}

.article .frame {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

@media (max-width: 768px) {
    .article .frame {
        margin-top: 0; 
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.article__content {
    font-size: 1em;
    line-height: 2.2em;
}
