<header class="row header font-theme">
    <div class="col-sm-6 header__home">
        <a ng-href="{{config.site_url}}">
            <img ng-src="{{config.theme_url}}/images/logo.png" title="back to homepage">
        </a>
    </div>
    <div class="col-sm-6 hidden-xs header__credit text-right">
        Powered by
        <a href="https://www.indytheme.com" target="_blank">
            <img ng-src="{{config.theme_url}}/manager/images/indytheme-logo.png">
        </a>
    </div>
</header>
